
<GridLayout >
    <StackLayout class="menu">
        <label class="fas-icon" text="&#xf030;" (tap)="_takePicture()"
        [color]="buttonColor" [fontSize]="buttonSize" [margin]="buttonMargin"></label>
        <!-- <Image src="~/assets/camera-to-take-photos-32.png"></Image> -->
        <!-- <Label class="button" (tap)="_takePicture()" text="Open camera"></Label> -->
        <!-- <Label class="button" (tap)="_takePicture64()" text="Open camera base 64"></Label> -->

        <!-- <Label class="button" (tap)="getAllImage()" text="Get image"></Label> -->

        <!-- <Image [(src)]="camera.image" stretch="fill" margin="10"></Image> -->
    </StackLayout>
</GridLayout>


